@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

.App {
  background: #f6f9ff;
  min-height: 100vh;
  font-family: 'Assistant', sans-serif;
}

.shorttxt {
  font-size: 14px;
}

.vshorttxt {
  font-size: 12px;
}

.loader {
  max-height: 30px;
}

button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.header {
  z-index: 1;
}

.signupin {
  min-width: 310px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.productsarea__search {
  width: 260px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.product {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.product__pic {
  height: 180px;
  max-width: 100px;
  max-width: 100%;
  margin: auto;
}

.product__rating {
  position: absolute;
  top: 150px;
  right: 10px;
}

.product__btncta {
  background-color: #2b85ff;
  color: white;
  font-weight: 600;
}

.cart {
  max-width: 800px;
  margin: auto;
  min-height: 65vh;
}

.cart__products {
  max-width: 450px;
  width: 100%;
}

.cart__pricedetails {
  min-width: 300px;
}

@media (width<770px) {
  .cart__pricedetails {
      padding: 10px !important;
      width: 100%;
      max-width: 450px
  }
}

.cart__productpic {
  width: 150px;
  height: 175px;
}

.cart__productDetails__removebtn {
  width: min-content;
  padding: 0;
}

.cart__productdetails__quantitybox {
  width: 20px;
  padding: 0;
  border: 1px solid #00000054;
}

.cart__emptypic {
  max-height: 250px;
}

.dashboard {
  min-height: 65vh;
}

.tab--products__prodpic {
  max-height: 100px;
}